html {
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-image: url("../img/bg.svg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
body {
	text-align: center;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
	margin-top: 0px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Saira Semi Condensed', sans-serif;
	font-weight: 100;
	margin-bottom: 10px;
	text-align: center;
}
h1 {
	font-size: 50px;
}

a {
	text-decoration: none;
}

#contentcontainer {
	margin-top: 15px;
	border-radius: 2px;
	background-color: rgba(255,255,255,0.4);
	padding: 40px;
	display: inline-block;
	text-align: left;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

input, select, button, textarea {
	font-family: inherit;
	font-size: inherit;
}
input[type=submit] {
	font-weight: bold;
}
.inputtable {
	width: 100%;
}
.inputtable th {
	text-align: left;
}
.inputtable input, .inputtable select, .inputtable button, .inputtable textarea {
	width: 100%;
	box-sizing: border-box;
}

.resulttable {
	border-collapse: collapse;
}
.resulttable th {
	text-align: left;
}
.resulttable td {
	border-top: 1px solid gray;
}
.resulttable td, .resulttable th {
	padding: 3px 5px;
}
.resulttable input {
	width: 100px;
}
.resulttable form {
	display: inline;
}
.resulttable th.groupheader button {
	margin-right: 10px;
}

#searchbar {
	width: 130px;
}

.remove {
	color: red;
}

#httpwarn {
	text-align: center;
	position: fixed;
	bottom: 10px; left: 10px; right: 10px;
	border-radius: 2px;
	border: 2px solid rgb(120,10,10);
	background: rgba(120,0,0,0.8);
	color: white;
	padding: 10px;
}
#disableinfo {
	text-align: center;
	position: fixed;
	bottom: 10px; left: 10px; right: 10px;
	border-radius: 2px;
	border: 2px solid rgb(255,255,255);
	background: rgba(255,255,255,0.8);
	color: black;
	padding: 10px;
}

.infobox {
	margin-top: 5px;
	margin-bottom: 15px;
	text-align: center;
	border-radius: 2px;
	border: 2px solid rgb(10,10,130);
	background: rgba(10,10,130,0.8);
	color: white;
	padding: 10px;
}
.infobox.green {
	border: 2px solid rgb(10,100,10);
	background: rgba(10,100,10,0.8);
}
.infobox.red {
	border: 2px solid rgb(120,10,10);
	background: rgba(120,10,10,0.8);
}

#topmenu > *, #topmenu form {
	display: inline-block;
}
#topmenu .left {
	float: left;
}
#topmenu .center {

}
#topmenu .right {
	float: right;
}
