html {
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-image: url("../img/bg.svg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
body {
	text-align: center;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
	margin-top: 0px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Saira Semi Condensed', sans-serif;
	font-weight: 100;
	margin-bottom: 10px;
	text-align: center;
}
h1 {
	font-size: 50px;
}

a {
	text-decoration: none;
}

#contentcontainer,
#entrydetails {
	margin-top: 15px;
	border-radius: 2px;
	background-color: rgba(255,255,255,0.4);
	border: 1px solid rgba(255,255,255,0.6);
	padding: 40px;
	display: inline-block;
	text-align: left;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.3);
}

input, select, button, textarea {
	font-family: inherit;
	font-size: inherit;
}
input[type=submit]:not(.nobold) {
	font-weight: bold;
}
.inputtable {
	width: 100%;
}
.inputtable th {
	text-align: left;
}
.inputtable input:not([type=checkbox]):not([type=radio]),
.inputtable select, .inputtable button, .inputtable textarea {
	width: 100%;
	box-sizing: border-box;
}
.inputtable div.input {
	white-space: nowrap;
}
.inputtable div.input input,
.inputtable div.input button,
.inputtable div.input select {
	width: auto !important;
}
input.invisible, textarea.invisible, select.invisible {
	background-color: transparent;
	border: none;
}

#entrydetailscontainer {
	display: none;
	text-align: center;
	position: fixed;
	top: 17%;
	left: 0;
	right: 0;
	height: 0;
}
#entrydetails {
	backdrop-filter: blur(5px);
	left: 0px; top: 0px;
	display: inline-block;
	text-align: left;
	overflow: auto;
	padding: 0px;
	position: relative;
}
#entrydetailsheader {
	border-radius: 2px;
	background-color: rgba(255,255,255,0.4);
	border-bottom: 1px solid rgba(255,255,255,0.6);
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	vertical-align: middle;
}
.entrydetailscontent {
	padding: 40px;
}
#closedetails {
	font-weight: bold;
	color: red;
	display: inline;
	float: right;
}
#detail_title {
	font-weight: bold;
	vertical-align: middle;
}
#detail_group {
	opacity: 0.5;
	vertical-align: middle;
}

.inlineblock {
	display: inline-block;
}

#contentcontainer.passwordentries {
	min-width: 800px;
}
@media (max-width: 1200px) {
	#contentcontainer.passwordentries {
		width: 100%;
		box-sizing: border-box;
	}
	#passwordentriestable {
		min-width: auto;
		width: 100%;
	}
}
#entriestree ul {
	padding-left: 40px;
}
#entriestree > ul {
	padding: 0px;
}
#entriestree a {
	color: navy;
}
#entriestree a:hover {
	color: blue;
}
#entriestree a:active {
	opacity: 0.5;
}
#entriestree li.entry,
#entriestree li.group {
	list-style-type: none;
	vertical-align: middle;
}
#entriestree li.entry:before,
#entriestree li.group:before {
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
	font-size: 125%;
}
#entriestree li.entry:before {
	content: '\1F511';
}
#entriestree li.group:before {
	content: '\1F5C1';
	font-weight: bold;
}
#entriestree li.group.dirclosed:before {
	content: '\1F5C0';
	font-weight: bold;
}
#entriestree li.entry > div {
	display: inline-block;
	vertical-align: middle;
}
#entriestree li.entry > div .username {
	opacity: 0.5;
}
#entriestree li.group .groupheader {
	display: inline-block;
	vertical-align: middle;
}
#entriestree li.entry > div .entrydescription,
#entriestree li.group .groupheader .groupdescription {
	font-size: 80%;
	opacity: 0.5;
}

.resulttable {
	border-collapse: collapse;
}
.resulttable th {
	text-align: left;
}
.resulttable td {
	border-top: 1px solid gray;
}
.resulttable td, .resulttable th {
	padding: 3px 5px;
}
.resulttable input {
	width: 100px;
}
.resulttable form {
	display: inline;
}
.resulttable th.groupheader button {
	margin-right: 10px;
}
.resulttable tbody.groupcontent:not(:nth-child(2)) tr td,
.resulttable tbody.groupheader:not(:nth-child(3)) tr th {
	padding-left: 45px;
}
.resulttable th.groupheader * {
	vertical-align: middle;
}
.resulttable th.groupheader .grouptext {
	display: inline-block;
}
.resulttable th.groupheader .grouptitle {
	font-weight: normal;
}
.resulttable th.groupheader .groupdescription {
	font-size: 85%;
	font-weight: normal;
	color: rgba(0,0,0,0.6);
}

#searchbar {
	width: 130px;
}
#searchresults {
	text-align: center;
}
#searchresultstext {
	font-weight: bold;
	color: white;
	background-color: rgba(120,10,10,0.8);
	border-radius: 100px;
	border: 2px solid rgb(120,10,10);
	padding: 5px 10px;
}
#searchresultstext > button {
	margin-left: 5px;
}

.remove {
	color: red;
}

#httpwarn {
	text-align: center;
	position: fixed;
	bottom: 10px; left: 10px; right: 10px;
	border-radius: 2px;
	border: 2px solid rgb(120,10,10);
	background: rgba(120,0,0,0.8);
	color: white;
	padding: 10px;
}
#disableinfo {
	text-align: center;
	position: fixed;
	bottom: 10px; left: 10px; right: 10px;
	border-radius: 2px;
	border: 2px solid rgb(255,255,255);
	background: rgba(255,255,255,0.8);
	color: black;
	padding: 10px;
}

.infobox {
	margin-top: 5px;
	margin-bottom: 15px;
	text-align: center;
	border-radius: 2px;
	border: 2px solid rgb(10,10,130);
	background: rgba(10,10,130,0.8);
	color: white;
	padding: 10px;
}
.infobox.green {
	border: 2px solid rgb(10,100,10);
	background: rgba(10,100,10,0.8);
}
.infobox.yellow {
	border: 2px solid rgb(190,190,10);
	background: rgba(190,190,10,0.8);
	color: black;
}
.infobox.red {
	border: 2px solid rgb(120,10,10);
	background: rgba(120,10,10,0.8);
}

#topmenu > *, #topmenu form {
	display: inline-block;
}
#topmenu .left {
	float: left;
}
#topmenu .center {

}
#topmenu .right {
	float: right;
}
