html {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-image: url("../img/bg.svg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
body {
	text-align: center;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
	margin-top: 0px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Saira Semi Condensed', sans-serif;
	font-weight: 100;
	margin-bottom: 10px;
	text-align: center;
}
h1 {
	font-size: 50px;
}

a {
	text-decoration: none;
}

button.img > *, .button.img > * {
	display: inline;
	vertical-align: middle;
}
button, .button {
	outline: none;
	display: inline-block;
	background-color: rgb(223,223,223);
	background: linear-gradient(to bottom, rgb(240,240,240), rgb(220,220,220));
	border-radius: 2px;
	border-bottom: 1px solid rgb(145,145,140);
	border-left: 1px solid rgb(182,182,179);
	border-top: 1px solid rgb(182,182,179);
	border-right: 1px solid rgb(182,182,179);
	padding: 6px;
	color: black;
	cursor: pointer;
}
button:active, .button:active {
	background: linear-gradient(to top, rgb(240,240,240), rgb(220,220,220));
}
button.mainaction {
	font-weight: bold;
}

#contentcontainer {
	margin-top: 15px;
	padding: 40px;
	display: inline-block;
	text-align: left;
}

#contentcontainer,
#entrydetails {
	border-radius: 2px;
	background-color: rgba(255,255,255,0.4);
	border: 1px solid rgba(255,255,255,0.6);
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.3);
}
@-moz-document url-prefix() {
	#entrydetails {
		/* beacause backdrop filter not supported */
		background-color: rgba(225,242,214,0.91);
	}
}

input, select, button, textarea {
	font-family: inherit;
	font-size: inherit;
}
input[type=submit]:not(.nobold) {
	font-weight: bold;
}
.inputtable {
	width: 100%;
}
.inputtable th:not(.file) {
	text-align: left;
	vertical-align: top;
}
.inputtable input:not([type=checkbox]):not([type=radio]),
.inputtable select, .inputtable button, .inputtable textarea {
	width: 100%;
	box-sizing: border-box;
}
.inputtable div.input {
	white-space: nowrap;
}
.inputtable div.input button {
	width: auto;
}
.inputtable div.input.withbutton {
	width: 100%;
	display: table;
	border-collapse: collapse;
}
.inputtable div.input.withbutton > *:not(:first-child) {
	display: table-cell;
	white-space: nowrap;
	width: 1px;
}
.inputtable div.input.withbutton > *:first-child {
	display: table-cell;
	width: 100%;
}
input.invisible, textarea.invisible, select.invisible {
	background-color: transparent;
	border: none;
}

#entrydetailscontainer {
	display: none;
	text-align: center;
	position: fixed;
	top: 17%;
	left: 0;
	right: 0;
	height: 0;
}
#entrydetails {
	box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.3);
	left: 0px; top: 0px;
	display: inline-block;
	text-align: left;
	overflow: auto;
	padding: 0px;
	position: relative;
	z-index: -2;
	backdrop-filter: blur(10px);
}
#entrydetailsheader {
	border-radius: 2px;
	border-bottom: 1px solid rgba(255,255,255,0.6);
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	vertical-align: middle;
	cursor: move;
	-webkit-backdrop-filter: blur(10px);
}
#entrydetailscontent {
	padding: 40px;
	position: relative;
}
#entrydetailscontent::after {
	content: "";
	background: url("../img/bg.svg");
	background-position: center center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	pointer-events: none;
	z-index: -1
}
#entrydetailscontent a {
	display: inline-block;
	max-width: 300px;
	overflow: auto;
	white-space: nowrap;
}
#closedetails {
	font-weight: bold;
	color: red;
	display: inline;
	float: right;
}
#detail_title {
	font-weight: bold;
	vertical-align: middle;
}
#detail_group {
	opacity: 0.5;
	vertical-align: middle;
}

.inlineblock {
	display: inline-block;
}

#contentcontainer.passwordentries {
	min-width: 800px;
}
#entriestree ul {
	padding-left: 40px;
}
#entriestree > ul {
	padding: 0px;
}
#entriestree a {
	color: navy;
}
#entriestree a:hover {
	color: blue;
}
#entriestree a:active {
	opacity: 0.5;
}
#entriestree li.entry,
#entriestree li.group {
	list-style-type: none;
	vertical-align: middle;
}
#entriestree li.entry:before,
#entriestree li.group:before {
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
	font-size: 125%;
}
#entriestree li.entry:before {
	margin-top: 2px;
	content: url('../img/key.svg');
}
#entriestree li.group:before {
	margin-top: 2px;
	content: url('../img/folder_open.svg');
	font-weight: bold;
}
#entriestree li.group.dirclosed:before {
	margin-top: 2px;
	content: url('../img/folder.svg');
	font-weight: bold;
}
#entriestree li.entry > div {
	display: inline-block;
	vertical-align: middle;
}
#entriestree li.entry > div .username {
	opacity: 0.5;
}
#entriestree li.group .groupheader {
	display: inline-block;
	vertical-align: middle;
}
#entriestree li.entry > div .entrydescription,
#entriestree li.group .groupheader .groupdescription {
	font-size: 80%;
	opacity: 0.5;
}

.resulttable {
	border-collapse: collapse;
}
.resulttable th {
	text-align: left;
}
.resulttable td {
	border-top: 1px solid gray;
}
.resulttable td, .resulttable th {
	padding: 3px 5px;
}
.resulttable input {
	width: 100px;
}
.resulttable form {
	display: inline;
}
.resulttable th.groupheader button {
	margin-right: 10px;
}
.resulttable tbody.groupcontent:not(:nth-child(2)) tr td,
.resulttable tbody.groupheader:not(:nth-child(3)) tr th {
	padding-left: 45px;
}
.resulttable th.groupheader * {
	vertical-align: middle;
}
.resulttable th.groupheader .grouptext {
	display: inline-block;
}
.resulttable th.groupheader .grouptitle {
	font-weight: normal;
}
.resulttable th.groupheader .groupdescription {
	font-size: 85%;
	font-weight: normal;
	color: rgba(0,0,0,0.6);
}

#searchresults {
	text-align: center;
}
#searchresultstext {
	display: inline-block;
	font-weight: bold;
	color: white;
	background-color: rgba(120,10,10,0.8);
	border-radius: 100px;
	border: 2px solid rgb(120,10,10);
	padding: 5px 20px;
}
#searchresultstext > button {
	margin-left: 5px;
}

.remove {
	color: red;
}

#httpwarn {
	text-align: center;
	position: fixed;
	bottom: 10px; left: 10px; right: 10px;
	border-radius: 2px;
	border: 2px solid rgb(120,10,10);
	background: rgba(120,0,0,0.8);
	color: white;
	padding: 10px;
}
#disableinfo {
	text-align: center;
	position: fixed;
	bottom: 10px; left: 10px; right: 10px;
	border-radius: 2px;
	border: 2px solid rgb(255,255,255);
	background: rgba(255,255,255,0.8);
	color: black;
	padding: 10px;
}

.infobox {
	margin-top: 5px;
	margin-bottom: 15px;
	text-align: center;
	border-radius: 2px;
	border: 2px solid rgb(10,10,130);
	background: rgba(10,10,130,0.8);
	color: white;
	padding: 10px;
}
.infobox.green {
	border: 2px solid rgb(10,100,10);
	background: rgba(10,100,10,0.8);
}
.infobox.yellow {
	border: 2px solid rgb(190,190,10);
	background: rgba(190,190,10,0.8);
	color: black;
}
.infobox.red {
	border: 2px solid rgb(120,10,10);
	background: rgba(120,10,10,0.8);
}

#topmenu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
}
#topmenu > *,
#topmenu form {
	display: inline-block;
}
#topmenu .left {
	flex-grow: 0;
}
#topmenu .center {
	flex-grow: 1;
}
#topmenu .right {
	flex-grow: 0;
}
#topmenu .left > *,
#topmenu .center > *,
#topmenu .right > * {
	display: inline-block;
	margin: 0px 2px;
	height: 100%;
	box-sizing: border-box;
}
#topmenu .left > *:first-child {
	margin-left: 0px;
}
#topmenu .right > *:last-child {
	margin-right: 0px;
}
#topmenu #searchbar {
	padding: 6px;
	outline: none;
	width: calc(100% - 4px);
	border-radius: 2px;
	background-color: rgba(255,255,255,0.9);
	border-bottom: 1px solid rgb(145,145,140);
	border-left: 1px solid rgb(182,182,179);
	border-top: 1px solid rgb(182,182,179);
	border-right: 1px solid rgb(182,182,179);
}

@media(max-width: 1000px) {
	#topmenu {
		display: flex;
		flex-direction: column;
	}
	#topmenu > * {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-content: stretch;
	}
	#topmenu > * > * {
		flex-grow: 1;
	}
	#topmenu .left {
		order: 1;
	}
	#topmenu .center {
		order: 3;
	}
	#topmenu .right {
		margin: 5px 0px;
		order: 2;
	}
	#topmenu > * > *:first-child {
		margin-left: 0px;
	}
	#topmenu > * > *:last-child {
		margin-right: 0px;
	}
	#contentcontainer.passwordentries {
		min-width: auto;
		width: 100%;
		box-sizing: border-box;
	}
}

@media(max-width: 500px) {
	html {
		font-size: 12px;
	}
}
