{% extends "layout.html.twig" %}

{% block content %}
<div id="divLoginContainer">
	<div id="divAbout" class="box">
	<p>
		<b>Version {{ version }}</b>
	</p>
	<ul>
		<li>© 2017-2024 Georg Sieber - licensed under <a href="LICENSE.txt">GPLv2</a></li>
		<li>fork me: <a href="https://github.com/schorschii/webvault-pro" target="_blank">https://github.com/schorschii/webvault-pro</a></li>
		<li>3rd party components:
			<ul>
				<li>
					<a href="https://www.slimframework.com/" target="_blank">Slim framework</a> © Josh Lockhart (MIT license)
				</li>
				<li>
					<a href="https://twig.symfony.com/" target="_blank">Twig Template Engine</a> © the Twig Team (BSD 3-clause)
				</li>
				<li>
					<a target='_blank' href='https://material.io/tools/icons'>Material Icons</a> (<a target='_blank' href='https://www.apache.org/licenses/LICENSE-2.0.html'>Apache License 2.0</a>)
				</li>
				<li>
					<a href="https://fonts.google.com/specimen/Saira+Semi+Condensed" target="_blank">Saira Semi Condensed</a> (<a href="http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL_web" target="_blank">Open Font License</a>),
					<br><a href="https://fonts.google.com/specimen/Open+Sans" target="_blank">Open Sans</a> (<a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License 2.0</a>)
				</li>
				<li>
					background image from <a href="https://qrohlf.com/trianglify-generator/" target="_blank">Qrohlf's Trianglify Generator</a>
				</li>
			</ul>
		</li>
	</ul>
	</div>
	<div id="footer">
		<a href=".">{{ "log_in"|trans }}</a>
	</div>
</div>
{% endblock %}
