{% extends "layout.html.twig" %}

{% block content %}
<br>
<hr>
<br>
<ul>
	<li>© 2017 Georg Sieber</li>
	<li>fork me on <a href="https://github.com/schorschii/webpw" target="_blank">GitHub</a></li>
	<li>licensed under the terms of the GPLv2 (see <a href="licenseText">LICENSE.txt</a>)</li>
	<li>uses:
		<ul>
			<li><a href="https://github.com/parsecsv/parsecsv-for-php" target="_blank">parseCSV</a> library © 2014 Jim Myhrberg (MIT license)</li>
			<li><a href="https://www.slimframework.com/" target="_blank">Slim</a> framework © 2011-2017 Josh Lockhart (MIT license)</li>
			<li><a href="https://www.slimframework.com/" target="_blank">Twig</a> Template Engine © 2009-2017 the Twig Team (BSD 3-clause)</li>
			<li>background image from <a href="https://qrohlf.com/trianglify-generator/" target="_blank">Qrohlf's Trianglify Generator</a></li>
		</ul>
	</li>
</ul>
{% endblock %}
